/* Book Card */

.book-card {
    background-color: var(--yellow);
    height: fit-content;
    width: 80vw;
    margin: 50px 50px;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.book-card>.name-reveal {
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 10px 20px 30px 10px;
    color: var(--red);
    font-style: italic;
    clip-path: circle(17.2% at 81% 36%);
    transition: 0.5s ease-in-out;
    background-color: var(--black3);
    max-width: 400px;
    font-weight: 800;
    z-index: 1;
}

.book-card>.name-reveal:hover {
    background-color: var(--red);
    color: var(--black3);
}

.name-reveal:hover {
    clip-path: circle(103.4% at 70% 15%);
}

.book-card>.company-name {
    position: absolute;
    top: -20px;
    left: -20px;
    padding: 10px 20px 30px 10px;
    color: var(--black3);
    font-style: italic;
    background-color: var(--red);
    clip-path: polygon( 0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    transform: rotateZ(-45deg);
    z-index: 999;
}

.book-card>.image {
    width: 30%;
    overflow: auto;
    background-color: var(--black);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.book-card>.image>img {
    width: auto;
    height: 100%;
}

.book-card>.book-info {
    padding: 20px 50px;
    width: 70%;
    position: relative;
}

.book-card>.book-info::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    background-color: var(--red);
    width: 2%;
}

.book-card>.book-info>.book-name {
    font-size: 3rem;
    color: var(--black);
    font-weight: 600;
    word-wrap: break-word;
}

.book-card>.book-info>.book-price {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.book-card>.book-info>.book-price>.now-price {
    font-size: 3rem;
    color: var(--blue);
}

.book-card>.book-info>.book-price>.price-actual {
    font-size: 1.5rem;
    color: var(--red);
    margin-left: 10px;
    margin-bottom: 10px;
}

.book-card>.book-info>.book-auth {
    font-size: 0.8rem;
    color: var(--black);
    font-style: italic;
}

.book-card>.book-info>.book-link {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.book-card>.book-info>.book-link>a,
.book-card>.book-info>.book-link>button {
    /* background-color: var(--red); */
    padding: 10px 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* color: #f7f7f7; */
    transition: 0.2s ease;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-right: 10px;
}

.book-card>.book-info>.book-link>#buy {
    background-color: var(--red);
    color: var(--black3);
    border: 1px solid var(--red);
}

.book-card>.book-info>.book-link>#buy:hover {
    color: var(--red);
    background-color: var(--black3);
    border: 1px dashed var(--red);
}

.book-card>.book-info>.book-link>#save_to_fav {
    background-color: var(--blue);
    color: var(--black3);
    border: 1px solid var(--blue);
}

.book-card>.book-info>.book-link>#save_to_fav:hover {
    color: var(--blue);
    background-color: var(--black3);
    border: 1px dashed var(--blue);
}

.book-card>.book-info>.book-rating {
    color: var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: flex-start;
    padding: 10px 0px;
}

.book-card>.book-info>.book-rating>.rating {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .book-card>.image {
        width: 100%;
    }
    .book-card>.image>img {
        width: 100%;
    }
    .book-card>.book-info>.book-name {
        font-size: 1rem;
        color: var(--black);
        font-weight: 600;
    }
}


/* Pagination */

.custom_pag {
    width: 100%;
    margin: 20px -50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom_pag>a {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.custom_pag>div {
    background-color: var(--red);
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 600px) {
    .custom_pag>a {
        width: 20%;
    }
}