:root {
    --black: #2d3436;
    --black1: #636e72;
    --black2: #b2bec3;
    --black3: #dfe6e9;
    --red: #d63031;
    --red1: #ff7675;
    --orange: #e17055;
    --yellow: #fdcb6e;
    --yellow1: #ffeaa7;
    --blue: #0984e3;
    --aqua: aqua;
}