/* Main */

.contact {
    background-color: var(--orange);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    clip-path: circle(18.2% at 0 100%);
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 999;
}

.contact:hover {
    clip-path: circle(98.1% at 0 100%);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: var(--black2); */
    background: var(--black);
    background: -webkit-radial-gradient( circle, var(--black) 0%, var(--black3) 100%);
    background: radial-gradient(circle, var(--black) 0%, var(--black3) 100%);
    animation: change_background 20s ease infinite alternate;
}

@keyframes change_background {
    from {
        background-position: 0px;
    }
    to {
        background-position: 1000px;
    }
}

@media only screen and (max-width: 600px) {
    .contact {
        width: 100vw;
        height: 80vh;
        transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    .contact:hover {
        clip-path: ellipse(67% 93% at 32% 99%);
    }
}

.contact>.list {
    display: none;
}

.contact:hover>.list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--black);
    font-size: 1.5rem;
    width: 100vw;
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media only screen and (max-width: 600px) {
    .contact:hover>.list {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.contact:hover>.list>a {
    -webkit-animation: roll-in-left 1s ease-out both;
    animation: roll-in-left 1s ease-out both;
}

.contact>.list>a {
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: var(--red);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    position: relative;
    color: var(--black3);
    width: 210px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.contact>.list>a::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--aqua);
    mix-blend-mode: multiply;
    transition: 0.5s ease-in-out;
    -webkit-animation: roll-in-left 1s ease-out 0.5s both;
    animation: roll-in-left 1s ease-out 0.5s both;
}

.contact>.list>a:hover::before {
    background-color: var(--yellow1);
    top: 8px;
    left: 8px;
}

.contact>.list>a::after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 5px;
    padding: 2px;
    width: 100%;
    background-color: var(--yellow);
    transition: 0.5s ease-in-out;
    -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
    animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
}

.contact>.list>a:hover::after {
    right: 15px;
    background-color: var(--aqua);
}


/* ----------------------------------------------
 * Generated by Animista on 2022-10-1 15:54:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2022-10-1 12:3:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes roll-in-left1 {
    0% {
        -webkit-transform: translateX(-800px) rotate(540deg);
        transform: translateX(-800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg) rotateZ(90deg) translateX(-400px);
        transform: translateX(0) rotate(0deg) rotateZ(90deg) translateX(-400px);
        opacity: 1;
    }
}

@keyframes roll-in-left1 {
    0% {
        -webkit-transform: translateX(-800px) rotate(540deg);
        transform: translateX(-800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg) rotateZ(90deg) translateX(-400px);
        transform: translateX(0) rotate(0deg) rotateZ(90deg) translateX(-400px);
        opacity: 1;
    }
}

.contact>p {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 2rem;
    transform: rotateZ(45deg);
    color: var(--black);
    font-weight: 900;
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contact:hover>p {
    -webkit-animation: roll-in-left1 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
    animation: roll-in-left1 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
    left: 10px;
    font-size: 4rem;
    color: var(--red);
}

.contact:hover>p::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 150%;
    height: 5%;
    background-color: var(--yellow1);
    transition: 0.5s ease-in-out;
    -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
    animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
}

@media only screen and (max-width: 600px) {
    .contact:hover>p {
        left: 50%;
        font-size: 2.5rem;
        animation: none;
        transform: rotateZ(0deg);
    }
    .contact>p {
        position: absolute;
        left: 5px;
        bottom: 5px;
        font-size: 1rem;
        transform: rotateZ(45deg);
        color: var(--black);
        font-weight: 900;
        transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
}


/* Animations*/

.focus-in-contract {
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-10-1 14:42:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}